<main role="main">
  <div class="sheet">
    <header class="sheet-header page-header">
      <h1>{{ blog.title }}</h1>
    </header>

    <section class="sheet-content">
      {% if blog.articles.size > 0 %}
        {% include 'pagination_limit' with 'articles' %}
        {% paginate blog.articles by pagination_limit %}
        {% if blog.articles.size < pagination_limit %}{% assign articles_size = blog.articles.size | times: 1 %}{% else %}{% assign articles_size = pagination_limit | times: 1 %}{% endif %}
        <div class="list posts" data-group-size="{{ articles_size }}">      
          {% for article in blog.articles %}
            {% include 'article_item' %}
          {% endfor %}
          {% include 'pagination' %}
        </div>
        {% endpaginate %}
        {% if settings.enable_rss_link %}
        <p class="rss-link">
          <a href="{{ blog.url | append: '.atom' }}">{{ 'blog.general.rss_link_html' | t: blog_title: blog.title }}</a>
        </p>
        {% endif %}
      {% else %}
        <div class="blog-message">
          <h3>{{ 'blog.general.empty_message_title' | t }}</h3>
          <p>{{ 'blog.general.empty_message_html' | t }}</p>
        </div>
      {% endif %}
    </section>
  </div>
</main>

{% include 'site_aside' %}