<main role="main">
  <article class="sheet">
    <header class="sheet-header">
      <h1>{{ 'cart.cart_page.page_title' | t }}</h1>
    </header>

    <section class="sheet-content">
      {% if cart.item_count > 0 %}
        <form class="cart-form" action="/cart" method="post">
          <div class="cart-message hidden"></div>
          <div class="cart-items">
            <table class="cart-table">
              <thead>
                <tr>
                  <th class="cart-item-product-label">{{ 'cart.cart_table.product_label' | t }}</th>
                  <th class="cart-item-quantity-label">{{ 'cart.cart_table.quantity_label' | t }}</th>
                  <th class="cart-item-price-label">{{ 'cart.cart_table.price_label' | t }}</th>
                  <th class="cart-item-total-label">{{ 'cart.cart_table.total_label' | t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for item in cart.items %}
                <tr class="cart-item" data-cart-item="{{ item.id }}">
                  <td class="cart-item-content">
                    <a href="{{ item.url }}">
                      <div class="cart-item-image">
                        <img src="{{ item | img_url: 'large' }}" alt="{{ item.title | escape }}">
                      </div>
                      <div class="cart-item-details">
                        <h2>{{ item.product.title }}</h2>
                        {% unless item.variant.title contains 'Default' %}
                          <h3>{{ item.variant.title }}</h3>
                        {% endunless %}
                      </div>
                    </a>
                    <!-- {{ item | json }} -->
                  </td>
                  <td class="cart-item-quantity">
                    <div class="input-group">
                      <input type="number" name="updates[{{ item.id }}]" value="{{ item.quantity }}" data-update-item="{{ forloop.index }}">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default" title="Remove {{ item.title }}" data-remove-item="{{ forloop.index }}"><span class="fa fa-times"></span><span class="sr-only">Remove {{ item.title }}</span></button>
                      </div>
                    </div>
                  </td>
                  <td class="cart-item-price">
                    {% assign item_price = item.price | money %}
                    {% assign item_price_with_currency = item.price | money_with_currency %}
                    {{ 'cart.price.item_price_html' | t: price: item_price, price_with_currency: item_price_with_currency }}
                  </td>
                  <td class="cart-item-total">
                    {% assign line_price = item.line_price | money %}
                    {% assign line_price_with_currency = item.line_price | money_with_currency %}
                    {{ 'cart.price.item_price_html' | t: price: line_price, price_with_currency: line_price_with_currency }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          
          <div class="cart-details">            
            <h3>
              <small>{{ 'cart.cart_page.subtotal_title' | t }}</small>
              {% assign total_price = cart.total_price | money %}
              {% assign total_price_with_currency = cart.total_price | money_with_currency %}
              <span class="cart-total">{{ 'cart.price.cart_total_html' | t: price: total_price, price_with_currency: total_price_with_currency }}</span>
            </h3>
            <div class="cart-shipping-note">
              <p><em>{{ 'cart.cart_page.shipping_note' | t }}</em></p>
            </div>
            <div class="cart-buttons">
              <input class="btn-update-cart" type="submit" name="update" value="{{ 'cart.buttons.update' | t }}">
              <input class="btn-checkout" type="submit" name="checkout" value="{{ 'cart.buttons.checkout' | t }}">
            </div>
            
            {% comment %} TODO: Cart total, update and checkout buttons {% endcomment %}
            
            {% if additional_checkout_buttons %}
              <div class="cart-additional-buttons">{{ content_for_additional_checkout_buttons }}</div>
            {% endif %}
          </div>
          
          <div class="cart-extras">
            {% comment %} TODO: Cart note, shipping estimator, etc. {% endcomment %}
          </div>
        </form>
      {% else %}
        {% comment %}
          The cart is empty
        {% endcomment %}
        
        <div class="cart-message">
          {{ 'cart.cart_page.empty_message_html' | t }}
        </div>
      {% endif %}
    </section>
  </article>
</main>

{% include 'site_aside' %}