{% comment %}
  PHD specific collection template
{% endcomment %}

<main role="main">
  <section class="collection-header">
    <div class="sheet">
      <header class="sheet-header">
        <h1>{{ collection.title }}</h1>
        {% include 'collection_controls'%}
        {{ collection.description }}
      </header>
    </div>
  </section>
  
  {% if collection.all_products_count > 0 %}
    
    {% comment %}
      The sixpack logic relies on all the products in the collection being of the same subscription,
      otherwise things get super complicated.
      
      So we just assume that the first products subscription details are the same as the rest and is what we want.
      We also assume that every product has the option of subscription or one-off purchases
    {% endcomment %}
  
    {% assign subscriptions = collection.products | map: 'metafields' | map: 'subscriptions' %}
    {% assign subscription_id = subscriptions | map: 'subscription_id' | first %}
    {% assign shipping_interval_frequency = subscriptions | map: 'shipping_interval_frequency' | first %}
    {% assign shipping_interval_unit_type = subscriptions | map: 'shipping_interval_unit_type' | first %}
      
      {% comment %}
<!--
      [{{ subscriptions }}]<br>
      [{{ subscription_ids | join: ' - ' }}]<br>
      [{{ subscriptions | map: 'shipping_interval_unit_type' }}]<br>
      [{{ subscriptions | map: 'shipping_interval_frequency' }}]<br>
      [{{ subscriptions | map: 'is_subscription_only' }}]<br>
      [{{ subscriptions | map: 'has_subscription' }}]<br>
      [{{ subscriptions | map: 'discount_product_id' }}]<br>
      [{{ subscriptions | map: 'discount_percentage' }}]<br>
-->
      {% endcomment %}
      
  <section class="builder-display" data-phd-six-pack="holding" data-phd-holding-limit-multiple="6" data-phd-subscription-id="{{ subscription_id }}" data-phd-shipping-interval-frequency="{{ shipping_interval_frequency }}" data-phd-shipping-interval-unit-type="{{ shipping_interval_unit_type }}">
    <div class="builder-content">
      <div class="sheet">
      </div>
    </div>
    <div class="builder-items" data-phd="sticky">
      <div class="sheet">
        <div class="row">
          <div class="holding-item-wrapper">
            <div data-phd-holding-items></div>
          </div><div class="builder-total">
            <p>{{ 'phd.six_pack.items_total_html' | t }}</p>
            <p class="price"><span data-phd-holding-total-price></span></p>
          </div><form class="phd-add-to-cart-form" action="/cart/add" method="post" enctype="multipart/form-data">
            <button class="btn btn-block btn-lg" type="submit" disabled="disabled">{{ 'phd.six_pack.add_to_cart_disabled_html' | t }}</button>
          </form>
        </div>
      </div>
    </di>
  </section>
  {% endif %}
    
  <section class="collection-content">
    <div class="sheet {% if collection.products.size > 0 %}products-wrap{% endif %}">
    {% if collection.all_products_count == 0 %}
      <section class="sheet-content">
        <div class="collection-message">
          <h3>{{ 'collections.general.empty_message_title' | t }}</h3>
          <p>{{ 'collections.general.empty_message_html' | t }}</p>
        </div>
      </section>
      
    {% elsif collection.products_count == 0 %}
      {% comment %} The collection has products in it but we have filtered it down to far {% endcomment%}
      <section class="sheet-content">
        <div class="collection-message">
          <h3>{{ 'collections.filtering.empty_message_title' | t }}</h3>
          <p>{{ 'collections.filtering.empty_message_html' | t: count: collection.all_products_count, collection_title: collection.title }}</p>
          <ul class="list-unstyled">
      		{% for tag in current_tags %}
            {% capture tag_text %}<span class="fa fa-times-circle"></span><span class="sr-only">remove</span> {{ tag }}{% endcapture %}
        		<li>{{ tag_text | link_to_remove_tag: tag }}</li>
      		{% endfor %}
        	</ul>
        </div>
      </section>
      
    {% else %}
    
      <section class="group products" data-products-size="{{ collection.products.size }}">
        {% for p in collection.products %}
          {% include 'phd_product_item_single' %}
        {% endfor %}
      </section>
    
    {% endif %}
    </div>
  </section>
</main>

{% include 'site_aside' %}