{% comment note:

  Nested Collections:
  To achieve a nested collection set a master collection with the template of `collection.nested`.
  This will then look for a linklist with a namespaced handle that matches `collection-{{ collection_handle }}`.
  Each collection in the matched linklist will then be displayed as it's nesting.

  Nested Collection: Collections
  Display the collection thumb for each collection

 %}{% endcomment %}
 
{% assign collections_linklist_key = 'collection-' | append: handle %}
{% assign collections_linklist = linklists[collections_linklist_key] %}

{% assign collections_size = 0 %}
{% capture nested_collections %}{% endcapture %}
{% for collection_link in collections_linklist.links %}
  {% if collection_link.type == 'collection_link' %}
    {% assign c = collection_link.object %}
    {% assign collections_size = collections_size | plus: 1 %}
    {% capture nested_collections %}
      {{ nested_collections }}
      {% include 'collection_item' %}
    {% endcapture %}
  {% endif %}
{% endfor %}

{% comment note: Collection header layouts are also used on the list collections page, so set up the relevant variables outside the include first %}{% endcomment %}
{% assign collection_title = collection.title %}
{% assign collection_description = collection.description %}
{% if settings.collection_header_layout contains 'split_image' %}
  {% assign collection_image = collection.image.src | img_url: 'grande' %}
  {% capture header_classes %}collection-header collection-header-split collection-header-{{ settings.collection_header_layout | replace: '_','-' }}{% endcapture %}
  {% include 'collection_header_layout_split' %}
{% else %}
  {% assign collection_image = collection.image.src | img_url: '2048x2048' %}
  {% capture header_classes %}collection-header collection-header-{{ settings.collection_header_layout | replace: '_','-' }}{% endcapture %}
  {% assign collection_header_layout_snippet = 'collection_header_layout_' | append: settings.collection_header_layout %}
  {% include collection_header_layout_snippet %}
{% endif %}

<section class="collection-content">
  <div class="sheet{% unless nested_collections == blank %} products-wrap{% endunless %}">
    {% if nested_collections == blank %}
      <section class="sheet-content">
        <div class="collection-message">
          <h3>{{ 'collections.general.empty_message_title' | t }}</h3>
          <p>{{ 'collections.general.empty_message_html' | t }}</p>
        </div>
      </section>
    {% else %}
      <section class="group collections" data-collections-size="{{ collections_size }}">
        {{ nested_collections }}
      </section>
    {% endif %}
  </div>
</section>