<main role="main">

  {% comment %}
    Loop the homepage content settings and add each section if applicable.
    Then loop the advanced content link list to add additional sections if needed.
    
    `section_count` is used across both standard & advanced sections and only increments if a section is included.
  {% endcomment %}

  {% assign section_count = 1 %}
  
  {% for i in (1..4) %}
    {% assign homepage_settings_id = 'homepage_layout_section_' | append: i %}
    {% assign homepage_section = settings[homepage_settings_id] %}
    
    {% unless homepage_section == blank or homepage_section == 'none' %}
    
      {% comment %}
        Check for each section type and collect it's relevant content inside the homepage_section_content variable
        
        All except for the banner create two variables:
         - homepage_section_object which is passed to the snippet to be rendered
         - homepage_section_id to be used to identify each section
      {% endcomment %}
    
      {% case homepage_section %}
      {% when 'banner' %}
        {% assign homepage_section_id = 'homepage-banner-' | append: section_count %}
        {% assign homepage_section_type = 'banner' %}
        {% capture homepage_section_content %}{% include 'homepage_banner' %}{% endcapture %}
                
      {% when 'featured_collections' %}
        {% unless settings.homepage_featured_collections == blank %}
          {% assign homepage_section_object = linklists[settings.homepage_featured_collections] %}
          {% assign homepage_section_id = homepage_section_object.handle %}
          {% assign homepage_section_type = 'collections' %}
          {% capture homepage_section_content %}{% include 'homepage_collections' with homepage_section_object %}{% endcapture %}
        {% endunless %}
        
      {% when 'featured_products' %}
        {% unless settings.homepage_featured_products == blank %}
          {% assign homepage_section_object = collections[settings.homepage_featured_products] %}
          {% assign homepage_section_id = homepage_section_object.handle %}
          {% assign homepage_section_type = 'collection' %}
          {% capture homepage_section_content %}{% include 'homepage_products' with homepage_section_object %}{% endcapture %}
        {% endunless %}
        
      {% when 'page_content' %}
        {% unless settings.homepage_page_content == blank %}
          {% assign homepage_section_object = pages[settings.homepage_page_content] %}
          {% assign homepage_section_id = homepage_section_object.handle %}
          {% assign homepage_section_type = 'page' %}
          {% capture homepage_section_content %}{% include 'homepage_page' with homepage_section_object %}{% endcapture %}
        {% endunless %}
      {% endcase %}
    
      {% comment %}
        If we have collected content inside homepage_section_content then add it to the page
      {% endcomment %}
      
      {% include 'homepage_section' %}
      
    {% endunless %}
  {% endfor %}
  
  {% comment %}
    Advanced layout.
    
    The advanced layout uses nested linklists like dropdown menus do, but the layout of the content is changed by it's level
    i.e. a product on the top level of the list will show a 'homepage product' layout with product form and description,
    but a product on the 2nd level will show a product thumbnail.
  {% endcomment %}
  
  {% unless settings.homepage_advanced_layout == blank %}
    
    {% assign homepage_advanced_linklist = linklists[settings.homepage_advanced_layout] %}
    {% unless homepage_advanced_linklist.links == blank %}
      {% for advanced_section_link in homepage_advanced_linklist.links %}
      
        {% comment note:
          using WebAddress:#linklist-handle to define the sub-linklist allows us to craft linklist titles without losing the connection
          as the title will be shown on the page.
          Fallback to the Shopify known way of creating dropdowns
        %}{% endcomment %}
        
        {% assign child_list_handle = null %}
        {% if advanced_section_link.type == 'http_link' and advanced_section_link.url contains '#' %}
          {% assign child_list_handle = advanced_section_link.url | remove: '#' %}
        {% endif %}
        {% if child_list_handle == blank %}
          {% assign child_list_handle = advanced_section_link.handle %}
        {% endif %}
      
        {% if linklists[child_list_handle].links == blank %}
          {% comment %}
            We have no nested linklist so build the top level sections
          {% endcomment %}
      
          {% case advanced_section_link.type %}
          {% when 'relative_link' %}
            {% comment %} This could be a couple of things so check again to see what we are working with {% endcomment %}
            
            {% case advanced_section_link.url %}
            {% when '/collections/all' %}
              {% comment %} Show the product loop for this collection {% endcomment %}
              {% assign homepage_section_object = collections.all %}
              {% assign homepage_section_id = homepage_section_object.handle %}
              {% assign homepage_section_type = 'collection' %}
              {% capture homepage_section_content %}{% include 'homepage_products' with homepage_section_object %}{% endcapture %}
              
            {% when '/search' %}
              {% assign homepage_section_id = 'site-search' %}
              {% assign homepage_section_type = 'search' %}
              {% capture homepage_section_content %}{% include 'homepage_search' %}{% endcapture %}
              
            {% else %}
              {% comment %} We've got the front page; that's pretty meta. http://gph.is/1kPdp9x {% endcomment %}
            {% endcase %}
            
          {% when 'collection_link' %}
            {% comment %} Show the product loop for this collection {% endcomment %}
            {% assign homepage_section_object = advanced_section_link.object %}
            {% assign homepage_section_id = homepage_section_object.handle %}
            {% assign homepage_section_type = 'collection' %}
            {% capture homepage_section_content %}{% include 'homepage_products' with homepage_section_object %}{% endcapture %}
          
          {% when 'product_link' %}
            {% comment %} TODO: Show the special homepage product details {% endcomment %}
          
          {% when 'page_link' %}
            {% comment %} Show the page content {% endcomment %}
            {% assign homepage_section_object = advanced_section_link.object %}
            {% assign homepage_section_id = homepage_section_object.handle %}
            {% assign homepage_section_type = 'page' %}
            {% capture homepage_section_content %}{% include 'homepage_page' with homepage_section_object %}{% endcapture %}
          
          {% when 'blog_link' %}
            {% comment %} TODO: Show a list of articles from this blog. limit in settings? {% endcomment %}
          
          {% when 'http_link' %}
            {% comment %}
              SOCIAL LINKS
              i.e.
              - url contains instagram.com/username or instagram.com/#hashtag then show a feed of images
              - url contains twitter.com/username then show a feed of tweets
              - url contains youtube.com/video or vimeo.com/video then embed the video
            {% endcomment %}
            {% assign homepage_section_id = advanced_section_link.handle %}
            {% assign homepage_section_type = 'social' %}
            {% capture homepage_section_content %}{% include 'homepage_social' with advanced_section_link %}{% endcapture %}
            
          {% endcase %}
        
        {% else %}
          {% comment %}
            Nested linklist
            Drop down a level and change context of snippets
          {% endcomment %}
        
          {% capture homepage_sub_section_content %}{% endcapture %}
          {% assign homepage_sub_section_size = 0 %}
          {% for advanced_section_child_link in linklists[child_list_handle].links %}
        
            {% case advanced_section_child_link.type %}
            {% when 'relative_link' %}
              {% comment %} This could be a couple of things so check again to see what we are working with {% endcomment %}
              
              {% case advanced_section_child_link.url %}
              {% when '/collections/all' %}
                {% comment %} Show the collection thumbnail for the all collection {% endcomment %}
                {% assign c = collections.all %}
                {% capture new_homepage_sub_section_content %}{% include 'collection_item' %}{% endcapture %}
                
              {% when '/search' %}
                {% capture new_homepage_sub_section_content %}{% include 'homepage_sub_search' %}{% endcapture %}
                
              {% else %}
                {% comment %} We've got the front page; that's pretty meta. http://gph.is/1kPdp9x {% endcomment %}
              {% endcase %}
            
            {% when 'collection_link' %}
              {% comment %} Show the collection thumbnail {% endcomment %}
              {% assign c = advanced_section_child_link.object %}
              {% if c.products_count > 0 %}
              {% capture new_homepage_sub_section_content %}{% include 'collection_item' %}{% endcapture %}
              {% endif %}
            
            {% when 'product_link' %}
              {% comment %} Show the products thumbnail {% endcomment %}
              {% assign p = advanced_section_child_link.object %}
              {% capture new_homepage_sub_section_content %}{% include 'product_item' %}{% endcapture %}
            
            {% when 'page_link' %}
              {% comment %} Show the page content, with title ala features {% endcomment %}
              {% capture new_homepage_sub_section_content %}{% include 'homepage_sub_page' with advanced_section_child_link.object %}{% endcapture %}
            
            {% when 'blog_link' %}
              {% comment %} TODO: Show a list of articles from this blog {% endcomment %}
            
            {% when 'http_link' %}
              {% comment %}
                SOCIAL LINKS
                i.e.
                - url contains instagram.com/username or instagram.com/#hashtag then show a feed of images
                - url contains twitter.com/username then show a feed of tweets
                - url contains youtube.com/video or vimeo.com/video then embed the video
              {% endcomment %}
              {% capture new_homepage_sub_section_content %}{% include 'homepage_sub_social' with advanced_section_child_link %}{% endcapture %}
              
            {% endcase %}
            
            {% unless new_homepage_sub_section_content == blank %}
              {% capture homepage_sub_section_content %}{{ homepage_sub_section_content }}{{ new_homepage_sub_section_content }}{% endcapture %}
              {% assign homepage_sub_section_size = homepage_sub_section_size | plus: 1 %}
              {% assign new_homepage_sub_section_content = null %}
            {% endunless %}
        
          {% endfor %}
          
          {% assign homepage_section_id = advanced_section_link.handle %}
          {% assign homepage_section_type = 'group' %}
          {% capture homepage_section_content %}
            <div class="sheet">
              <header class="sheet-header page-header">
                <h1>{{ advanced_section_link.title }}</h1>
              </header>
              <div class="homepage-section-group group" data-group-size="{{ homepage_sub_section_size }}">
                {{ homepage_sub_section_content }}
              </div>
            </div>
          {% endcapture %}
        {% endif %}
      
        {% include 'homepage_section' %}
      
      {% endfor %}
    {% endunless %}
  {% endunless %}
  
  {% comment %}
    If the section count is still 1 after all of that then we haven't created any sections.
    So show the on-boarding content
  {% endcomment %}
  {% if section_count == 1 %}
    {% include 'homepage_onboarding' %}
  {% endif %}
</main>

{% include 'site_aside' %}