{% layout none %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="{{ shop.description | escape }}" />
    
    <title>{{ shop.name }} | New website coming soon.</title>
    
    {% comment %}
      *** Use theme agnostic styles so changes in the theme settings don't mess with the password page ***
    {% endcomment %}
    <style>
      html {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        box-sizing: border-box;
      }
      *, *:before, *:after {
      	margin: 0;
        padding: 0;
        box-sizing: inherit;
      }
      html, body {
      	height: 100%;
      }
      body {
        position: relative;
      	display: table;
        width: 100%;
        
        text-align: center;
        font-size: 100%;
        line-height: 1.5em;
        font-family: sans-serif;
        color: #333;
      }
      .wrapper {
      	display: table-row;
        height: 1px;
      }
      .wrapper-full {
      	height: 100%;
      }
      .content {
      	display: table-cell;
        padding: 1.5em;
        vertical-align: middle;
      }
      footer {
        vertical-align: bottom;
      }
      
      h1, h2, h3, h4, h5, h6, p, label {
      	margin-bottom: 1em;
        font-size: 1em;
        line-height: 1.5em;
      }
      h1 {
      	font-size: 2em;
      	margin-bottom: 0.5em;
      }
      @media (min-width: 50em) {
        h1, h2, h3, h4, h5, h6, p, label {
          font-size: 1.25em;
        }
        h1 {
          font-size: 4em;
          margin-bottom: 0.3125em;
        }
      }
      
      a {
        text-decoration: none;
        color: inherit;
        transition: .3s;
      }
      a:hover {
        text-decoration: underline;
      }
      small {
      	font-size: 0.75em;
      }
      
      .logo {
      	margin-bottom: 1.5em;
      }
      
      .overlay {
        display: block;
      	position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        background-color: #666;
        background-color: rgba(0,0,0,0.6);
      }
      .overlay-content {
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .overlay-details {
        position: relative;
      	background-color: #fff;
        margin: auto;
        padding: 3em 1em;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
      }
      @media (min-width: 70em) {
      	.overlay-details {
          width: 60%;
        }
      }
      @media (min-width: 100em) {
      	.overlay-details {
          width: 40%;
        }
      }
      .overlay-close {
      	position: absolute;
        top: 0.5em;
        right: 1em;
      }
      label {
      	display: block;
      }
      .password {
        width: 100%;
        max-width: 16em;
        padding: 0.25em;
        margin-bottom: 0.75em;
      	font-size: 2em;
        line-height: 1em;
        text-align: center;
        border: 1px solid #ddd;
      }
      .password.has-errors {
        border-color: #aa1111;
      }
      .btn {
        padding: 0.25em 0.75em;
        cursor: pointer;
        font-size: 1.5em;
        color: inherit;
        background: none;
        background-color: #eee;
        
        border: 1px solid #ddd;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }
      .btn:hover, .btn:active {
      	background-color: #ddd;
        border-color: #ccc;
      }
      .btn:active {
      	border-top-color: #bbb;
      	border-bottom-color: #eee;
      }
      .errors {
        margin-bottom: 1.5em;
        color: #aa1111;
      }
      .errors ul {
      	list-style: none;
      }
      
      /* add theme specific colours here */
      
    </style>
    <script>
      var toggle_display = function (toggle) {
      	document.getElementById('password-overlay').style.display = toggle;
      };
    </script>
  </head>
  
  <body>
  	<div class="wrapper wrapper-full">
      <div class="content main-content">
        {% if settings.use_logo %}
        <img class="logo" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" />
        {% else %}
        <h1>{{ shop.name }}</h1>
        {% endif %}
        
        {% if shop.password_message and shop.password_message != '' %}
          {{ shop.password_message }}
        {% else %}
          <p class="default-text">Will be opening soon...</p>
        {% endif %}
        <noscript>
          {% form 'storefront_password' %}
            <label for='password'>What&rsquo;s the magic&nbsp;word?</label>
            {{ form.errors | default_errors }}
            <input class="password" {% unless form.errors == blank %}class="has-errors"{% endunless %} type='password' name='password' id='password' autofocus />
            <div class="actions">
              <input class="btn" name="commit" type="submit" value="Enter" />
            </div>
            {% unless form.errors == blank %}
            <script>
              toggle_display('table');
              document.getElementById('password').focus();
            </script>
            {% endunless %}
          {% endform %}
        </noscript>
      </div>
    </div>
    <div class="wrapper">
      <footer class="content">
        <p><small><a id="open-password-overlay" href="/admin">Do&nbsp;you&nbsp;have&nbsp;the&nbsp;password?</a> or <a href="/admin">Are&nbsp;you&nbsp;the&nbsp;store&nbsp;owner?</a></small></p>
        <p><small>This store is powered by the one&nbsp;and&nbsp;only&nbsp;<a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify" rel="nofollow">Shopify</a>.</small></p>
      </footer>
    </div>
    <div class="overlay" id="password-overlay" style="display:none;">
      <div class="overlay-content">
        <div class="overlay-details">
          <a class="overlay-close" id="close-password-overlay" href="/password"><small>Close</small></a>
          {% form 'storefront_password' %}
            <label for='password'>What&rsquo;s the magic&nbsp;word?</label>
            {{ form.errors | default_errors }}
            <input class="password" {% unless form.errors == blank %}class="has-errors"{% endunless %} type='password' name='password' id='password' autofocus />
            <div class="actions">
              <input class="btn" name="commit" type="submit" value="Enter" />
            </div>
            {% unless form.errors == blank %}
            <script>
              toggle_display('block');
              document.getElementById('password').focus();
            </script>
            {% endunless %}
          {% endform %}
        </div>
      </div>
    </div>
    
    <script>
      document.getElementById('open-password-overlay').onclick = function () {
        toggle_display('block');
        document.getElementById('password').focus();
      	return false;
      };
      
      document.getElementById('close-password-overlay').onclick = function () {
        toggle_display('none');
      	return false;
      };
    </script>
  </body>
</html>