<main role="main">
  <div class="sheet">
    <div class="sheet-content" itemscope itemtype="http://schema.org/Product">
          
      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
      <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
      
      <header class="sheet-header product-header">
        <h1 itemprop="name">{{ product.title }}</h1>
      </header>
      
      <section class="product-images">
        {% comment %} TODO: product images {% endcomment %}
        <div class="product-image-main">
          {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
          
          <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}">
          
          {% comment %}
            Trying to use srcset but it's not totally working properly yet
<!--
          <img src="{{ featured_image | img_url: 'medium' }}"
               srcset="{{ featured_image | img_url: 'medium' }} 240w,
                       {{ featured_image | img_url: 'large' }} 480w,
                       {{ featured_image | img_url: 'grande' }} 600w,
                       {{ featured_image | img_url: '1024x1024' }} 1024w,
                       {{ featured_image | img_url: '2048x2048' }} 2048w"
               sizes="(min-width: 768px) 40%,
                      100%"
               alt="{{ featured_image.alt | escape }}">
-->
          {% endcomment %}
        </div>
        <ul class="product-image-thumbs">
          
          {% comment %}
            Show thumbs for product image gallery.
            
            Collect any variant id (first) associated with each thumb and include it as a data-attr to be used with the image switcher.
            Clicking a thumb to change the image also changes the selected variant if it is linked to it.
          {% endcomment %}
            
          {% for thumb in product.images %}
            {% assign image_variant_id = false %}
            {% if thumb.attached_to_variant? %}
              {% assign image_variant_id = thumb.variants.first.id %}
            {% endif %}
            <li><a href="{{ thumb | img_url: 'master' }}" data-gallery-main=".product-image-main img" {% if image_variant_id %}data-variant-id="{{ image_variant_id }}"{% endif %}><img src="{{ thumb | img_url: 'large' }}" alt="{{ thumb.alt | escape }}"></a></li>
          {% endfor %}
        </ul>
      </section>
      
      <section class="product-details" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        {% comment %}
          Get first variant, or deep linked one
        {% endcomment %}
        {% assign variant = product.selected_or_first_available_variant %}
        
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        {% unless variant.sku == blank %}<meta itemprop="identifier" content="sku:{{ variant.sku }}" />{% endunless %}
        <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
        
        <div class="product-details-content">          
          <div class="product-price">
            {% if variant.compare_at_price > variant.price %}
              <p class="compare-at-price">{{ 'products.price.was' | t }} {{ variant.compare_at_price | money_with_currency }}</p>
            {% endif %}
            <p class="money">{{ variant.price | money_with_currency }}</p>
          </div>
          
          <form class="add-to-cart-form" action="/cart/add" method="post" enctype="multipart/form-data">
            <select name="id" id="product-select">
            {% for variant in product.variants %}
              {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
            </select>

            <div class="form-group">
              <label for="quantity" class="quantity-selector">{{ 'products.form.quantity' | t }}</label>
              <input type="number" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
            </div>
  
            <input type="submit" name="add" class="btn-add-to-cart" value="{{ 'products.buttons.add_to_cart' | t }}">
          </form>
        </div>
      </section>
      
      <section class="product-description" itemprop="description">
        {{ product.description }}
        {% comment %} TODO: product tags, vendor, type, etc. {% endcomment %}
      </section>
      
    </div>
  </div>
</main>

{% include 'site_aside' %}

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  // collect product details for use within js for things like linked product options
  var Bsify = Bsify || {};
  Bsify.product = {{ product | json }};
  Bsify.product_selector_id = 'product-select';
  // Set to false if you don't want to use linked product options
  Bsify.linked_product_options = true;
  
  // Select callback is called every time a variant selector is changed
  var select_callback = function(variant, selector) {

    if (variant) {
     
     // TODO: if the item already exists in your cart update the button to say add another
     
     // Switch the main image if the variant has one
     if (variant.featured_image) {
       if (Bsify.switch_image !== undefined) {
         var mainImageElement = $('.product-image-main img')[0];
         Bsify.switch_image(mainImageElement, variant.featured_image.src);
       }
     } 
    }
  };

  jQuery(function($) {
    new Shopify.OptionSelectors(Bsify.product_selector_id, {
      product: {{ product | json }},
      onVariantSelected: select_callback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>