<main role="main">
  <article class="sheet">
    <header class="sheet-header">
      <h1>{{ 'customer_accounts.login_reset.page_title' | t }}</h1>
    </header>

    <section class="sheet-content">      
      <div class="customer-recover-password-form">
        <p class="note">{{ 'customer_accounts.login_reset.description' | t }}</p>
        {% form 'recover_customer_password' %}
          {% include 'form_errors' %}
          
          <div class="form-group {% if form.errors contains 'email' %}has-error{% endif %}">
            <label for="customer_email">{{ 'customer_accounts.login_reset.email' | t }}</label>
            <input class="form-control" type="email" value="{{ form.email }}" name="email" id="recover-email" placeholder="{{ 'customer_accounts.login_reset.email' | t }}" autocorrect="off" autocapitalize="off">
          </div>
        
          <input class="btn btn-primary" type="submit" value="{{ 'customer_accounts.login_reset.reset_button' | t }}">
          <span class="note">{{ 'customer_accounts.login_reset.note_html' | t: shop_url: shop.url }}</span>
        {% endform %}
      </div>
    </section>
  </article>
</main>

{% include 'site_aside' %}