<main role="main">
  <article class="sheet">
    <header class="sheet-header page-header">
      <h1>{{ 'customer_accounts.reset_password.page_title' | t: email: email }}</h1>
    </header>

    <section class="sheet-content">
      <div class="customer-reset-form">
        <p class="description">{{ 'customer_accounts.reset_password.description' | t }}</p>
        {% form 'reset_customer_password' %}
          {% assign form_errors_message = 'errors.customer_accounts.form_message' | t %}
          {% include 'form_errors' %}
      
          <div class="form-group {% if form.errors contains 'form' %}has-error{% endif %}">
            <label for="customer_password">{{ 'customer_accounts.reset_password.password' | t }}</label>
            <input class="form-control input-lg" type="password" value="" name="customer[password]" id="customer_password" placeholder="{{ 'customer_accounts.reset_password.password' | t }}" />
          </div>
          
          <div class="form-group {% if form.errors contains 'form' %}has-error{% endif %}">
            <label for="password_confirmation">{{ 'customer_accounts.reset_password.password_confirmation' | t }}</label>
            <input class="form-control input-lg" type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" placeholder="{{ 'customer_accounts.reset_password.password_confirmation' | t }}" />
          </div>
          
          <input class="btn btn-primary btn-lg" type="submit" value="{{ 'customer_accounts.reset_password.reset_button' | t }}" />
        {% endform %}
      </div>
    </section>
  </article>
</main>

{% include 'site_aside' %}