<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="{% if page_description %}{{ page_description | escape }}{% else %}{{ shop.description | escape }}{% endif %}" />

    <title>{% include 'page_title' %}</title>

    <link rel="shortcut icon" type="image/png" href="{{ 'favicon.png' | asset_url }}">
    <link rel="canonical" href="{{ canonical_url }}" />

    <!-- First round of JS -->
    {{ 'modernizr.js' | asset_url | script_tag }}
<!--
    <script>
      // Picture element HTML5 shiv - do we even need this if we are using srcset on img instead?
      document.createElement( "picture" );
    </script>
-->
    <script src="{{ 'picturefill.min.js' | asset_url }}" async></script>

    <!-- Stylesheets -->
    {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
    {{ '//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css' | stylesheet_tag }}

    <!-- Second round of JS -->
    <!-- Use up-to-date jQuery for modern browsers but fallback to 1.x for leagacy IE -->

    <!--[if !(lt IE 9)]><!-->
    {{ 'jquery.min.js' | asset_url | script_tag }}
    <!--<![endif]-->
    <!--[if lt IE 9]>
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' | script_tag }}
    {{ 'html5shiv.js' | asset_url | script_tag }}
    {% assign respond_js_secret_key = shop.domain | md5 %}
    {{ 'respond.min.js' | asset_url | script_tag }}
    <link href="{{ 'respond-proxy.html' | asset_url | split: '?' | first }}" id="respond-proxy" rel="respond-proxy" />
    <link href="//{{ shop.url }}/search?q={{ respond_js_secret_key }}" id="respond-redirect" rel="respond-redirect" />
    <script src="//{{ shop.url }}/search?q={{ respond_js_secret_key }}" type="text/javascript"></script>
    <![endif]-->

    {% unless settings.header_code == blank %}
    <!-- Additional custom header code -->
      {{ settings.header_code }}
    {% endunless %}
    {% include 'site_js_vars' %}

    {{ content_for_header }}
  </head>

  <!--[if lte IE 8]> <body class="ie-legacy {{ template | replace: '.', '-' }}" id="{{ page_title | handle }}"> <![endif]-->
  <!--[if IE 9]> <body class="ie {{ template | replace: '.', '-' }}" id="{{ page_title | handle }}"> <![endif]-->
  <!--[if !(IE)]><!-->  <!--<![endif]-->
  <body class="{{ template | replace: '.', '-' }}" id="{{ page_title | handle }}">

    <header class="site-header">
      {% comment %}
        Each header layouts has it's own snippet file, this allows us to create maintainable modular layouts that can be swapped out or new ones added to easily.
        All header layouts can be selected from the theme settings.
        Header snippets are prefixed with 'header_'.
      {% endcomment %}

      {% assign header_layout = settings.header_layout | default: 'header_centered' %}
      {% include header_layout %}
    </header>

    {% comment %}
      Because we want to keep this theme as lean as possible we don't define secondary content here (i.e. sidebars etc.)
      Secondary content will be applied inside each template on a 'when applicable' basis as it might not be needed for each template.

      Also to keep the markup as flexible as possible template content is wrapped inside each template like so:
      <main>
        <section>
          <div class="sheet">
            ...
          </div>
        </section>

        <section>
          <div class="sheet">
            ...
          </div>
        </section>
      </main>

        section can be used for extending things out to the full width of the screen if needed.
        .sheet will constrain the content for that section for nice view widths.

      Sections can be easily stacked to define new areas and allow for more interesting layout options.
    {% endcomment %}

    <div class="site-content">
      {{ content_for_layout }}
    </div>

    <footer class="site-footer">
      {% include 'site_footer' %}
    </footer>
    
    <!-- modal -->
    {% comment %}
      Want to use a modal for something?
      Here is an empty one. Just invoke this in your javascript and give it the content you need.
      
      Remember, be a tidy kiwi:
      Don't litter the theme with lots of crazy modals,
      and clean up after yourself when you're done.
    {% endcomment %}
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" data-bsify-modal>
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
      </div>
    </div>

    <!-- Bulk of JS -->
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    {% comment %}
      Because of performance we build and minify our javascript files into app.min.js,
      but for clarity, sanity and future development we've included a copy of each un-minified file in the assets folder
      for you to see whats going on inside.

      Note: that changing anything inside these files won't actually have an effect on your theme.
      If you do need to change these you will need to rebuild and minify them into app.min.js using browserify.

      app.min.js includes the following files:
      - app.js
      - bsify.js
      - bsify.cart.js
      - bsify.image_switcher.js
      - bsify.linked_product_options.js
      - bsify.variant_option_switcher.js
      - bsify.banner.js
      - bsify.lookback_gallery.js
      - bsify.media_queries.js
      - bsify.scroll_to.js
      - bsify.touch.js
    {% endcomment %}
    <script src="{{ 'bootstrap.min.js' | asset_url }}"></script>
    <script src="{{ 'app.min.js' | asset_url }}"></script>

    {% unless settings.footer_code == blank %}
    <!-- Additional custom footer code -->
      {{ settings.footer_code }}
    {% endunless %}
  </body>
</html>
