{% capture social_service %}{% include 'social_service' with advanced_layout_social.url %}{% endcapture %}
{% capture social_feed %}{% include 'social_feed' with advanced_layout_social.url %}{% endcapture %}
{% capture params %}{{ social_service }}||{{ advanced_layout_social.title }}{% endcapture %}
{% include 'social_content' with params %}

{% unless social_feed == blank %}
<div class="sheet social-feed">
  <header class="sheet-header page-header">
    <h3>{{ social_title }}</h3>
    {% unless social_description == blank %}<p>{{ social_description }}</p>{% endunless %}
  </header>
  <section class="social-feed-{{ social_service }}">
    {{ social_feed }}
  </section>
</div>
{% endunless %}