<div class="collection--wrap">
  <div class="collection--item">
    <a href="{{ c.url }}" title="{{ c.title }}">
      <div class="collection--image">
        {{ c.image | img_url: 'medium' | img_tag }}
      </div>
      <div class="collection--details">
        <div class="collection--title">{{ c.title }}</div>
        <div class="collection--count">{{ c.all_products_count }}</div>
      </div>
    </a>
  </div>
</div>
