{% comment note:

  Collection Sort By
  
 %}{% endcomment %}
 
{% if settings.show_collection_sort_by %}
  <div class="collection-sort-by">
    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">{{ 'collections.sorting.sort_by_title' | t }} <span class="caret"></span></a>
        
        {% comment note: Set the url taking into account another template might be currently in use %}{% endcomment %}
        {% capture sort_by_url %}{{ collection.url }}?{% if current_template != default_template %}view={{ current_template }}&{% endif %}{% endcapture %}
        
        {% assign current_sort_by = collection.sort_by | default: collection.default_sort_by %}
        {% assign sort_orders = 'manual,best-selling,title-ascending,title-descending,price-ascending,price-descending,created-ascending,created-descending' | split: ',' %}
        
        <ul class="dropdown-menu" role="menu">
        {% for so in sort_orders %}
        
          {% comment note:
            Build the translations key from the current sort order string
            Some keys don't match the sort order strings, mainly because we want to use nicer wording in the translation settings
           %}{% endcomment %}
          {% case so %}
          {% when 'manual' %}
            {% assign key = 'featured' %}
          {% when 'created-ascending' %}
            {% assign key = 'date_ascending' %}
          {% when 'created-descending' %}
            {% assign key = 'date_descending' %}
          {% else %}
            {% assign key = so | replace: '-','_' %}
          {% endcase %}
            
          {% capture sort_by_translation_key %}collections.sorting.{{ key }}{% endcapture %}
          <li {% if current_sort_by == so %}class="active"{% endif %}><a href="{{ sort_by_url }}sort_by={{ so }}">{{ sort_by_translation_key | t }}</a></li>
        {% endfor %}
        </ul>
      </li>
    </ul>
  </div>
{% endif %}