{% comment note:

  Collection Filter by Tags
  link_to_tag url filter will take into account the sort order and view url params
  
  Tags can be set as compounding or not.
  Tags can be viewed as dropdowns or a tag list.
  
  Group tags into a new filter by using this syntax `group:tag`
  If a tag group only contains one tag and all the products in the collection has that tag then it won't be shown. <-- TODO
  
 %}{% endcomment %}
 
{% if settings.show_collection_filter_by %}
  {% if collection.all_tags.size > 0 %}
  
    {% comment note: Group tags
       Collect group names from each tag.
       We have to loop the collected tag groups to check if it contains the current tag otherwise we get an issue where 'group' is not included if 'grouping' comes before it. 
     %}{% endcomment %}
     
    {% capture tag_groups %}{% endcapture %}
    {% for tag in collection.all_tags %}
      {% if tag contains ':' %}
        {% assign group_name = tag | split: ':' | first %}
        {% assign is_in_tag_groups = false %}
        {% assign group_names = tag_groups | split: '|' %}
        {% for g_name in group_names %}
          {% if group_name == g_name %}
            {% assign is_in_tag_groups = true %}
          {% endif %}
        {% endfor %}
        {% unless is_in_tag_groups %}
          {% capture tag_groups %}{{ tag_groups }}|{{ group_name }}{% endcapture %}
        {% endunless %}
      {% endif %}
    {% endfor %}
  
    <div class="collection-filter-by collection-filter-style-{{ settings.filter_by_tag_style }}">
    {% assign tag_groups = tag_groups | split: '|' %}
    {% for tag_group in tag_groups %}
      {% assign has_tag_group = false %}
      {% unless tag_group == blank %}
        {% assign has_tag_group = true %}
      {% endunless %}
    
      <div class="collection-filter-by-tags{% if has_tag_group %} collection-filter-group-{{ tag_group }}{% endif %}">
      {% case settings.filter_by_tag_style %}
      {% when 'dropdown' %}
        <div class="btn-group">
          <button class="dropdown-toggle btn btn-default" type="button" data-toggle="dropdown" aria-expanded="false">{% if has_tag_group %}{{ 'collections.filtering.filter_by_group_title' | t: group: tag_group }}{% else %}{{ 'collections.filtering.filter_by_title' | t }}{% endif %} <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            {% include 'collection_controls_filter_by_tag_group' %}
          </ul>
        </div>
        
      {% when 'button' %}
        <h5>{% if has_tag_group %}{{ 'collections.filtering.filter_by_group_title' | t: group: tag_group }}{% else %}{{ 'collections.filtering.filter_by_title' | t }}{% endif %}</h5>
        <ul class="nav nav-pills">
          {% include 'collection_controls_filter_by_tag_group' %}
        </ul>
        
      {% endcase %}
      </div>
    {% endfor %}
    </div>
  {% endif %}
{% endif %}