{% comment note:

  Collection template switcher
  Collect the:
    - Default template
    - Current template
    - Enabled templates list
  Then if we have enabled templates other than the default template show them.

 %}{% endcomment %}

{% if collection %}
  {% assign default_template = collection.template_suffix | default: 'grid' %}
{% endif %}
{% assign current_template = template | split: '.' | last %}
{% if current_template == 'collection' %}{% assign current_template = 'grid' %}{% endif %}
{% assign collection_templates = 'grid,list,lookbook' | split: ',' %}
{% assign enabled_templates = '' %}
{% for collection_template in collection_templates %}
  {% assign setting_key = 'collection_template_' | append: collection_template %}
  {% if settings[setting_key] or collection_template == default_template %}
    {% assign enabled_templates = enabled_templates | append: collection_template | append: ',' %}
  {% endif %}
{% endfor %}
{% assign enabled_templates = enabled_templates | split: ',' %}

{% if enabled_templates.size > 1 %}
<div class="collection-template-switcher">
  <ul class="nav nav-pills">
  {% for t in enabled_templates %}

    {% case t %}
    {% when 'grid' %}
      {% assign t_icon = 'fa fa-lg fa-th-large' %}
    {% when 'list' %}
      {% assign t_icon = 'fa fa-lg fa-th-list' %}
    {% when 'lookbook' %}
      {% assign t_icon = 'fa fa-lg fa-columns' %}
    {% endcase %}

    {% comment note: Set the url taking into account a sort order might currently be in use %}{% endcomment %}
    {% capture template_url %}{{ collection.url }}?{% unless collection.sort_by == blank %}sort_by={{ collection.sort_by }}&{% endunless %}{% endcapture %}
    <li{% if t == current_template %} class="active"{% endif %}><a href="{{ template_url }}view={{ t }}" title="{{ 'collections.collection_controls.switcher_title' | t: collection_title: collection.title, template_type: t }}"><span class="{{ t_icon }}"></span><span class="sr-only">{{ t }}</span></a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}
