<div class="group-item-wrap">
  <figure class="group-item thumbnail">
    <a href="{{ c.url }}" title="{{ c.title }}">
      <div class="group-item-image">
        {% if c.image %}
          {{ c.image | img_url: '1024x1024' | img_tag }}
        {% else %}
          <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 800 1200" width="800px" height="1200px">
            <rect class="svg-rect" width="100%" height="100%">
          </svg>
        {% endif %}
      </div>
      <figcaption class="group-item-details caption">
        <h3 class="group-item-title">{{ collection_title | default: c.title }}</h3>
        
        {% if settings.show_collection_product_count %}
        <div class="group-item-count">{{ c.all_products_count }}</div>
        {% endif %}
      </figcaption>
    </a>
  </figure>
</div>
