{% unless parts %}
  {% assign parts = content_sections | split: '<h2' %}
{% endunless %}

{% assign content_sections_description = null %}
{% capture content_sections_output %}{% endcapture %}

{% for section in parts %}
  {% assign section_parts = section | split: '</h2>' %}
  {% assign section_title = section_parts.first | split: '>' | last %}
  {% assign section_content = section_parts.last  %}
  
  {% if section_content != blank %}
    {% if forloop.first %}
      {% assign content_sections_description = section %}
    {% else %}
      {% capture content_sections_output %}
        {{ content_sections_output }}
        <section class="product-section product-section-{{ forloop.index0 }}" id="{{ section_title | handle }}">
          <div class="sheet">
            <div class="sheet-content">
              {% capture section_content_for_split %}
                <h2>{{ section_title }}</h2>
                {{ section_content }}
              {% endcapture %}
              {% include 'content_split' with section_content_for_split %}
            </div>
          </div>
        </section>
      {% endcapture %}
    {% endif %}
  {% endif %}
{% endfor %}