{% comment TODO: retain alt attrs from images %}{% endcomment %}

{% if content_split contains '<img' %}
  {% capture content %}{% endcapture %}
  {% capture images %}{% endcapture %}
  
  {% assign parts = content_split | split: '<img' %}
  {% for part in parts %}
    {% if part contains 'src=' %}
      {% assign img = part | split: 'src="' %}
      {% assign img = img.last | split: '"' %}
      {% assign img = img.first %}
      {% capture images %}{{ images }}{% unless images == blank %}|{% endunless %}{{ img }}{% endcapture %}
      
    {% else %}
      {% capture part_content %}{% endcapture %}
      {% assign part_sections = part | split: '</p>' %}
      {% for part_section in part_sections %}
        {% unless forloop.last %}
          {% capture part_content %}{{ part_content }}{{part_section}}</p>{% endcapture %}
        {% endunless %}
      {% endfor %}
      {% capture content %}{{ content }}{{ part_content }}{% endcapture %}
    {% endif %}
  {% endfor %}

  <div class="content-split">
    <div class="content-split-text">
      {{ content }}
    </div>
    <div class="content-split-images">
      {% assign images = images | split: '|' %}
      {% for image in images %}
        <img src="{{ image }}" />
      {% endfor  %}
    </div>
  </div>

{% else %}
  {{ content_split }}
{% endif %}