<div id="header-layout-centered">
  <!-- Header markup for smaller screen sizes i.e. mobiles -->
  <div class="header-small navbar navbar-default visible-xs-block">
    <div class="sheet">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle pull-left collapsed" data-toggle="collapse" data-target="#navigation-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
          {{ 'general.navigation.mobile_menu_button' | t }}
        </button>

        {% assign nav_list_items = 'cart' %}
        {% include 'nav_list' %}
      </div>

      <div class="navigation navbar-collapse collapse" id="navigation-collapse">
        {% assign navbar_nav = true %}
        {% unless settings.main_menu_linklist == blank %} {% include 'nav_list' with settings.main_menu_linklist %} {% endunless %}

        {% assign navbar_nav = true %}
        {% unless settings.secondary_menu_linklist == blank %} {% include 'nav_list' with settings.secondary_menu_linklist %} {% endunless %}

        {% assign navbar_nav = true %}
        {% assign nav_list_items = 'accounts,search' %}
        {% include 'nav_list' with settings.tertiary_menu_linklist %}
      </div>

    </div>
  </div>

  <!-- Header markup for larger screen sizes i.e. desktops -->
  <div class="header-large">
    <section class="navigation-top hidden-xs">
      <div class="sheet">
        {% unless settings.secondary_menu_linklist == blank %}
          <nav class="secondary-nav pull-left">
            {% include 'nav_list' with settings.secondary_menu_linklist %}
          </nav>
        {% endunless %}

        <nav class="tertiary-nav pull-right">
          {% assign nav_list_items = 'accounts,cart,search' %}
          {% include 'nav_list' with settings.tertiary_menu_linklist %}
        </nav>
      </div>
    </section>

    <section class="header-logo">
      {% comment %} *** TODO: Logos -> text / img / svg / font / etc *** {% endcomment %}
      {% if settings.logo_enabled %}
      <a href="/" title="{{ shop.name }}"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name | escape }}" class="logo-image"></a>
      {% else %}
      <h1><a href="/" title="{{ shop.name }}">{{ shop.name }}</a></h1>
      {% endif %}
    </section>

    <section class="navigation-main hidden-xs">
      <nav class="main-nav">
        {% if settings.main_menu_linklist == blank and settings.secondary_menu_linklist == blank and settings.tertiary_menu_linklist == blank %}
          {% include 'nav_list' with 'main-menu' %}
        {% else %}
          {% include 'nav_list' with settings.main_menu_linklist %}
        {% endif %}
      </nav>
    </section>
  </div>
</div>
