<div class="group-item-wrap">
  <article class="group-item" id="{{ homepage_sub_page.handle }}">
    <header>
      {% if homepage_sub_page.published_at != blank %}
        <h1><a href="{{ homepage_sub_page.url }}">{{ homepage_sub_page.title }}</a></h1>
      {% else %}
        <h1>{{ homepage_sub_page.title }}</h1>
      {% endif %}
    </header>
    <section>
      {% if homepage_sub_page.published_at != blank %}
        {% comment note: the page is published so only show the first paragraph %}{% endcomment %}
        {% assign parts = homepage_sub_page.content | split:'</p>' %}
        <p>{{ parts.first | remove: '<p>' }}</p>
      {% else %}
        {{ homepage_sub_page.content }}
      {% endif %}
    </section>
  </article>
</div>