<ul class="nav{% if navbar_nav %} navbar-nav{% endif %}">
  {% comment %}
    Disable dropdowns if we are told to
  {% endcomment %}
  {% assign show_dropdowns = true %}
  {% if nav_list_items contains 'hide_dropdowns' %}
    {% assign show_dropdowns = false %}
  {% endif %}
  
  {% comment %}
    Create nav links from our linklist
  {% endcomment %}
  
  {% for link in linklists[nav_list].links %}
    {% assign child_list_handle = link.handle %}
    {% if linklists[child_list_handle].links != blank and show_dropdowns %}
      <li class="dropdown">
        <a class="dropdown-toggle" href="{{ link.url }}" data-toggle="dropdown">{{ link.title }} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          {% for childlink in linklists[child_list_handle].links %}
            <li{% if childlink.active %} class="active"{% endif %}><a href="{{ childlink.url }}" title="{{ childlink.title }}">{{ childlink.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li{% if link.active %} class="active"{% endif %}><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
    {% endif %}
  {% endfor %}
  
  {% comment %}
    Show extra nav list items i.e. accounts, cart, search
    This is defined by a comma separated list given to the show var outside this snippet
    e.g. assign nav_list_items = 'accounts,cart,search'
  {% endcomment %}
  
  {% assign extra_items = nav_list_items | split: ',' %}
  {% for item in extra_items %}
    {% case item %}
    {% when 'accounts' %}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li><a href="/account">{{ 'customer_accounts.site_header.welcome_note' | t: first_name: customer.first_name }}</a></li>
          <li>{{ 'customer_accounts.site_header.sign_out' | t | customer_logout_link }}</li>
        {% else %}
          <li>{{ 'customer_accounts.site_header.register' | t | customer_register_link }}</li>
          <li>{{ 'customer_accounts.site_header.sign_in' | t | customer_login_link }}</li>
        {% endif %}
      {% endif %}
      
    {% when 'cart' %}
      {% capture cart_total_price %}<span class="money" data-price="{{ cart.total_price }}" data-currency="{{ shop.currency }}">{{ cart.total_price | money }}</span>{% endcapture %}
      {% capture cart_total_price_with_currency %}<span class="money" data-price="{{ cart.total_price }}" data-currency="{{ shop.currency }}">{{ cart.total_price | money_with_currency }}</span>{% endcapture %}
      <li class="navigation-cart"><a href="/cart"><span class="fa fa-shopping-cart"></span> <span data-cart-display>{{ 'cart.site_header.cart_link_html' | t: item_count: cart.item_count, cart_total_price: cart_total_price, cart_total_price_with_currency: cart_total_price_with_currency }}</span></a></li>
      
    {% when 'search' %}
      {% if settings.enable_search %}
        <li class="navigation-form">
          {% include 'search_form' %}
        </li>
      {% endif %}
      
    {% endcase %}
  {% endfor %}
</ul>

{% comment %} unset nav_list_items {% endcomment %}
{% assign nav_list_items = '' %}

{% comment %}
  unset navbar_nav
  
  Why do we even have this?
  Well, Bootstrap is horrible and your dropdown links will break on mobile if you do not specify this exact class on the ul
  But we want to be smart and reuse our snippets in multiple places, even when the are not inside a navbar
  So we have to do lame conditionals like this just to make it work.
  
  Thanks Bootstrap!
{% endcomment %}
{% assign navbar_nav = false %}