{% assign variant = p.first_available_variant %}
<div class="group-item-wrap">
  <figure class="group-item thumbnail" data-phd-variant-id="{{ variant.id }}" data-phd-product-title="{{ p.title | escape }}" data-phd-product-color="{{ p.metafields.phd.color }}" data-phd-six-pack="item">
    <a href="{{ p.url | append: '?view=phd-modal' }}" data-phd-modal>
      <div class="group-item-image">
        <span class="fa fa-info-circle fa-2x"></span>
        {{ p.featured_image | img_url: '1024x1024' | img_tag: p.title }}
      </div>
    </a>
    <figcaption class="group-item-details caption">
      <h3 class="group-item-title"><a href="{{ p.url | append: '?view=phd-modal' }}" data-phd-modal>{{ p.title }}</a></h3>
      
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" data-phd-remove-item><span class="fa fa-minus"></span></button>
        </span>
        <input type="number" class="form-control" min="0" placeholder="0" data-phd-edit-item data-phd-item-{{ forloop.index0 }}-count>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" data-phd-add-item><span class="fa fa-plus"></span></button>
        </span>
      </div>
    </figcaption>
  </figure>
</div>