{% assign variant = p.first_available_variant %}
<div class="group-item-wrap">
  <figure class="group-item thumbnail">
    <div class="group-item-image">
      {{ p.featured_image | img_url: '1024x1024' | img_tag: p.title }}
    </div>
    <figcaption class="group-item-details caption">
      <h3 class="group-item-title">{{ p.title }}</h3>
      <a class="btn btn-default btn-block" href="{{ p.url }}" title="{{ p.title | escape }}" data-phd-variant-id="{{ variant.id }}" data-phd-add-to="holding">
        <span data-phd-item-count="0"></span>
        {{ 'products.buttons.add_to_cart' | t }}
      </a>
    </figcaption>
  </figure>
</div>