{% capture share_links %}{% endcapture %}

{% if settings.product_social_share_facebook %}
  {% capture share_links %}{{ share_links }}<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ canonical_url }}" target="_blank"><i class="fa fa-facebook fa-lg fa-fw"></i></a></li>{% endcapture %}
{% endif %}

{% if settings.product_social_share_pinterest %}
  {% capture share_links %}{{ share_links }}<li><a href="http://pinterest.com/pin/create/button/?url={{ canonical_url }}&media={{ product.selected_or_first_available_variant.featured_image.src | default: product.featured_image.src | product_img_url: '2048x2048' }}&description={{ page_title | replace: ' ','%20' }}" target="_blank"><i class="fa fa-pinterest fa-lg fa-fw"></i></a></li>{% endcapture %}
{% endif %}
  
{% if settings.product_social_share_twitter %}
  {% capture twitter_handle %}{% unless settings.social_links_twitter == blank %}@{{ settings.social_links_twitter | split: '/' | last }}{% endunless %}{% endcapture %}
  {% capture tweet %}https://twitter.com/intent/tweet?text={{ 'products.social_links.twitter_message' | t: product_title: product.title, url: canonical_url, handle: twitter_handle }}{% endcapture %}
  {% capture share_links %}{{ share_links }}<li><a href="{{ tweet | replace: ' ','%20' }}" target="_blank"><i class="fa fa-twitter fa-lg fa-fw"></i></a></li>{% endcapture %}
{% endif %}

{% if settings.product_social_share_email %}
  {% capture email_subject %}{{ 'products.social_links.email_subject' | t: product_title: product.title, shop_name: shop.name, url: canonical_url }}{% endcapture %}
  {% capture email_body %}{{ 'products.social_links.email_body' | t: product_title: product.title, shop_name: shop.name, url: canonical_url }}{% endcapture %}
  {% capture share_links %}{{ share_links }}<li><a href="mailto:?subject={{ email_subject | escape | replace: ' ','%20' }}&body={{ email_body | escape | replace: ' ','%20' | replace: '\n','%0D%0A' | strip_newlines }}"><i class="fa fa-envelope fa-lg fa-fw"></i></a></li>{% endcapture %}
{% endif %}
  
{% unless share_links == blank %}
<div class="social-share-links">
  <ul class="list-inline">
    {{ share_links }}
  </ul>
</div>
{% endunless %}