<div class="product-price">
  {% if p.price_varies %}
    {% capture price %}<span class="money">{{ p.price_min | money }}</span>{% endcapture %}
    {% capture price_with_currency %}<span class="money">{{ p.price_min | money_with_currency }}</span>{% endcapture %}
    {{ 'products.price.from_price_html' | t: price: price, price_with_currency: price_with_currency }}
  {% else %}
    {% capture price %}<span class="money">{{ p.price | money }}</span>{% endcapture %}
    {% capture price_with_currency %}<span class="money">{{ p.price | money_with_currency }}</span>{% endcapture %}
    {{ 'products.price.standard_price_html' | t: price: price, price_with_currency: price_with_currency }}
  {% endif %}
</div>
