{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if p.compare_at_price > p.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if p.available  %}
  {% assign sold_out = false %}
{% endif %}

<div class="product-wrap">
  <div class="product-item">
      <div class="product-image">
        <a href="{{ p.url }}" title="{{ p.title }}">
          {{ p.featured_image | img_url: 'medium' | img_tag }}
        </a>
      </div>
      <div class="product-details">
        <div class="product-title">{{ p.title }}</div>
        {% include 'product_price' %}
        {% include 'product_badges' %}
        <div class="product-buttons" role="group">
          <a href="{{ p.url }}" class="btn btn-view" title="{{ p.title }}">{{ 'products.buttons.view_product' | t }}</a>
          <a href="#" class="btn btn-add-to-cart">{{ 'products.buttons.add_to_cart' | t }}</a>
        </div>
      </div>
  </div>
</div>
