{% comment note: Check if the product is on sale and set a variable to be used below. %}{% endcomment %}
{% assign on_sale = false %}
{% if p.compare_at_price > p.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment note: Check if the product is sold out and set a variable to be used below. %}{% endcomment %}
{% assign sold_out = true %}
{% if p.available  %}
  {% assign sold_out = false %}
{% endif %}

<div class="group-item-wrap">
  <div class="group-item">
    <div class="group-item-image">
      <a class="thumbnail" href="{{ p.url }}" title="{{ p.title | escape }}">
        {% if p.featured_image %}
          {% capture img_size %}{% if collection_size > 1 %}1024x1024{% else %}2048x2048{% endif %}{% endcapture %}
          {{ p.featured_image | img_url: img_size | img_tag: p.title }}
        {% else %}
          <div class="fallback-image"></div>
        {% endif %}
      </a>
    </div>
    <div class="group-item-details">
      <h3 class="group-item-title"><a href="{{ p.url }}" title="{{ p.title | escape }}">{{ p.title }}</a></h3>
      <div class="h5 clearfix"><div class="pull-left">{% include 'product_price' %}</div> {% include 'product_badges' %}</div>
      {{ p.description }}
      <span class="shopify-product-reviews-badge" data-id="{{ p.id }}"></span>
    </div>
  </div>
</div>