<h4>{{ site_blog_list.title }}</h4>

<ul class="article-list nav">
{% for a in site_blog_list.articles %}
  <li>
    <h5><a href="{{ a.url }}">{{ a.title }}</a></h5>
    {% capture date %}{{ a.published_at | date: format: 'article_short' }}{% endcapture %}
    <p><em class="small text-muted">{{ 'blog.article_list.published_date_html' | t: date: date }}</em></p>
  </li>
{% endfor %}
</ul>