{{ '//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js' | script_tag }}
{{ '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/redmond/jquery-ui.css' | stylesheet_tag}}

<script>
  var unavailableDates = {{shop.metafields.local_delivery.unavailable_dates}};
  var unavailableDays = {{shop.metafields.local_delivery.unavailable_days}};
  var deliveryHours = {{shop.metafields.local_delivery.delivery_hours}};
  var rateLimitEnabled = {{shop.metafields.local_delivery.rate_limit_enabled}};
  var minimumDate = {{shop.metafields.local_delivery.minimum_date}};
  var minimumHour = {{shop.metafields.local_delivery.minimum_hour}};
  var localDeliveryVersion = 2;
</script>

{% assign local_delivery_items = false %}
{% for item in cart.items %}
  {% if item.product.metafields.local_delivery.local_delivery_available == 'true' %}
    {% assign local_delivery_items = true %}
  {% endif %}
{% endfor %}

{% if local_delivery_items == true or shop.metafields.local_delivery.enable_all_products == 'true' %}
  <div id="order-delivery">
  
    <h3>Local Order Delivery</h3>
      
    <div id="order-delivery-form-wrapper" class="clearfix">
      <p>One or more of the items in your cart are available for local delivery.<p>
      
      <p>{{shop.metafields.local_delivery.custom_text}}</p>
      
      <p>When would you like your order delivered?</p>
      
      <p>Date: <input type="text" id="datepicker" readonly="readonly" /> <p>

      <div id="loading">Finding available delivery times...</div>
      
      <div style="DISPLAY: none" id="timeDiv">
        <p>Time:<select name="attributes[local_delivery_request]" id="local_delivery" style="width: 200px"></select></p> 
      </div>
        
    </div>
  
    <div id="wrapper-response"></div>
  </div>
  
  <br />
{% endif %}